NODE_ENV=development
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
APP_URL=https://api.seraphinteractive.com

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_DATABASE=vote_api

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://api.seraphinteractive.com/api/v1/auth/discord/callback

CORS_ORIGIN=http://localhost:5173

ADMIN_DISCORD_IDS=215537065863938049,212401207694721024,965511204372086814,364539598942240768
MODERATOR_DISCORD_IDS=
